<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addressFinderKey</key>
	<string>3P7AXETC6FBW48JHGMK9</string>
	<key>addressFinderSecret</key>
	<string>QHD8YP4XRNELT7CJU6FA</string>
</dict>
</plist>
